# Catches venv, conda local envs, and hidden env folders
venv/
env/
.env
.venv/
conda-meta/
.condarc

# Ignores all contents of data/ and checkpoints/ 
# but keeps the folders themselves thru gitkeep
data/*
!data/.gitkeep
checkpoints/*
!checkpoints/.gitkeep

# Ignore any random model weights that end up
*.pth
*.pt
*.ckpt
*.h5

# python notebook cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# miscs stuff
.DS_Store
Thumbs.db
.vscode/
.idea/
# Archives
*.zip
*.tar
*.gz
runs/
