jupyter
notebook
matplotlib
numpy>=2.0.0
tqdm

#Vision and Image
Pillow

# MS COCO parsing
pycocotools==2.0.11
pycocoevalcap

# Utilities
pyyaml
tensorboard

# did not include torch version since we use diff gpu/cpu (cloud vs local)
torch
